@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2c333f;
}

.shade {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.shade:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

select {
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  letter-spacing: 2px;
  font-weight: 600;
}

select:active {
  border-color: #161d29;
}

select:focus {
  outline: none;
  border-color: #161d29;
}
